<div class="signin_page">
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4" ng-controller="signinCtrl">
				<form>
					<div class="signin_title">
						<h3>Please sign in</h3>
					</div>
					<div class="signin_error_msg">
						{{error_msg}}
					</div>
					<div class="signin_username_input">
						<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="username" ng-minlength=4 ng-maxlength=50 />
					</div>
					<div class="signin_password_input">
						<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="password" ng-minlength=4 ng-maxlength=50 />
					</div>
					<div class="keep_signin_checkbox">
						<label>
							<input type="checkbox">
							Keep me signed in
						</label>
					</div>
					<div class="signin_btn">
						<button type="button" class="btn btn-success" ng-click="sign_in_btn()" >Sign In</button>
					</div>
					<div class="signin_forgot_password">
						<a href="#intro">Forgot password</a>
					</div>					
					<div class="signin_blank">
					</div>
					<div class="signin_bottom">
						<span>Don't have a SyncFile account? </span><a href="#intro">Sign up now</a>
					</div>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
</div>