.signin_blank, .signin_blank, .signin_bottom, .signin_forgot_password, .signin_title, .signin_username_input, .signin_password_input, .keep_signin_checkbox{
	margin: 5px;
}

.signin_error_msg{
	margin: 5px;
	color: red;
}

.signin_btn{
	margin: 20px 5px;
}


.signin_blank{
	height: 150px;
}