.signin_blank, #signin_title, #signin_error_msg, #signin_username_input, #signin_password_input, #keep_signin_checkbox{
	margin: 5px;
}

#signin_btn{
	margin: 20px 5px;
}


.signin_blank{
	height: 200px;
}